<p>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
      <span class="Title">Task-Manager</span></button>
      <span class="example-spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu class="matmenuContainer" #menu="matMenu" class="matmenu">
        <button class="matmenutext" routerLink="/task" mat-menu-item>Tareas</button>
        <button class="matmenutext" routerLink="/project" mat-menu-item>Proyectos</button>
        <button class="matmenutext" routerLink="/group" mat-menu-item>Grupos</button>
        <button class="matmenutext" routerLink="/register" mat-menu-item>Registro</button>
        <button class="matmenutext" routerLink="/login" mat-menu-item>Login</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
