<div class="containerAccordion">
    <mat-accordion class="matAccordion">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Usuario </mat-panel-title>
          <mat-panel-description>
            Beatriz Gonzalez
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>correo: beagonzalez@gmail.com</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Tareas </mat-panel-title>
          <mat-panel-description>
            En progreso
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>10</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Tareas </mat-panel-title>
          <mat-panel-description>
            Pendientes
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>5</p>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Tareas </mat-panel-title>
          <mat-panel-description>
            Finalizadas
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>2</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>