<div class="textLogin">
  <h2>Iniciar Sesión</h2>
</div>

<div class="containerLogin">
  <div class="formLogin">
    <form [formGroup]="myForm">
      <div class="loginUsuario" id="contenedorLogin">
        <div>
          <span>Usuario</span>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Ingrese su usuario</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field>
          <div *ngIf="myForm.get('email')?.hasError('required') && myForm.get('email')?.touched">
            <span>Este campo es obligatorio</span>
          </div>
          <div *ngIf="myForm.get('email')?.hasError('email')">
            <span>Este no es un formato valido</span>
          </div>
        </div>
      </div>

      <div class="loginContraseña" id="contenedorLogin">
        <div>
          <span>Contraseña</span>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Ingrese su contraseña</mat-label>
            <input matInput formControlName="password" required>
          </mat-form-field>
          <div *ngIf="myForm.get('password')?.hasError('required') && myForm.get('password')?.touched">
              <span>Este campo es obligatorio</span>
          </div>
        </div>
      </div>
        <div class="col-lg-12">

        </div>
        <div class="col-lg-12">

        </div>
        <div class="col-lg-12">
            <button mat-raised-button color="warn" routerLink="/login">Cancelar</button>
            <button style="margin-left: 10px" mat-raised-button color="primary" [disabled]="myForm.invalid" routerLink="/home" >Aceptar</button>
        </div>
    </form>
</div>
</div>






