<div class="row">
    <div class="col-lg-6">
        <h2>Agregar Tarea</h2>
    </div>
</div>

<div class="containerGeneral">
  <div class="containerForm">
    <div class="col-lg-12">
        <form [formGroup]="myForm">
            <div class="contenedorAñadirTitulo" id="contenedorAñadir">
              <div>
                <h4>Título</h4>
              </div>
              <div>
                <mat-form-field appearance="fill">
                  <input matInput formControlName="title" required>
                </mat-form-field>
                <div *ngIf="myForm.get('title')?.hasError('required') && myForm.get('title')?.touched">
                  <span>Este campo es obligatorio</span>
                </div>
                <div *ngIf="myForm.get('title')?.hasError('maxLength')">
                  <span>Este campo debe tener como maximo 30 caracteres</span>
                </div>
              </div>
            </div>

            <div class="contenedorAñadirPrioridad" id="contenedorAñadir">
              <div>
                <h4>Estado</h4>
              </div>
              <div>
                <section class="example-section">
                  <mat-radio-group formControlName="status"  >
                      <mat-radio-button class="example-margin" value="Pendiente">Pendiente</mat-radio-button>
                      <mat-radio-button class="example-margin" value="Progreso">Progreso</mat-radio-button>
                      <mat-radio-button class="example-margin" value="Terminado">Terminado</mat-radio-button>
                  </mat-radio-group>
                </section>
                <div *ngIf="myForm.get('status')?.hasError('required') && myForm.get('status')?.touched">
                    <span>Este campo es obligatorio</span>
                </div>
              </div>
            </div>

            <div class="contenedorAñadirPlazo" id="contenedorAñadir">
              <div>
                <h4>Plazo</h4>
              </div>
              <div>
                <mat-form-field appearance="fill" class="example-form-field" formControlName="date"  >
                  <mat-label >Fecha de Entrega</mat-label>
                  <input matInput [matDatepicker]="datepicker">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                      <button mat-button matDatepickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                  <div *ngIf="myForm.get('date')?.hasError('required') && myForm.get('date')?.touched">
                    <span>Este campo es obligatorio</span>
                </div>
                </mat-form-field>
              </div>
            </div>
            <div class="contenedorAñadirPlazo" id="contenedorAñadir">
              <div>
                <h4>Categoria</h4>
              </div>
              <div>
                    <mat-form-field appearance="fill" >
                      <mat-label>Categoria</mat-label>
                      <mat-select formControlName="category" >
                        <mat-option value="Tarea" >Tarea</mat-option>
                        <mat-option value="Ocio">Ocio</mat-option>
                        <mat-option value="Extracurriculares">Extracurriculares</mat-option>
                      </mat-select>
                      <div *ngIf="myForm.get('category')?.hasError('required') && myForm.get('category')?.touched">
                        <span>Este campo es obligatorio</span>
                    </div>
                    </mat-form-field>
              </div>
            </div>
            <div class="contenedorAñadirDescripcion" id="contenedorAñadir">
              <div>
                <h4>Descripción</h4>
              </div>
              <div>
                <mat-form-field style="width: 250px;" class="example-full-width" appearance="fill">
                    <textarea style="resize: none;" formControlName="description" matInput placeholder="Tarea sobre..."></textarea>
                </mat-form-field>
                <div *ngIf="myForm.get('description')?.hasError('required') && myForm.get('description')?.touched">
                    <span>Este campo es obligatorio</span>
                </div>
                <div *ngIf="myForm.get('description')?.hasError('maxLength')">
                    <span>Este campo debe tener como maximo 30 caracteres</span>
                </div>
              </div>
            </div>

            <div class="col-lg-12" id="contenedorButton">
                <button mat-raised-button color="warn" routerLink="/task">Cancelar</button>
                <button style="margin-left: 10px" mat-raised-button color="primary" [disabled]="myForm.invalid" (click)=saveTask() >Agregar Tarea</button> <!--routerLink="/task"-->
            </div>

        </form>

  </div>

</div>
